* {
    margin: 0;
}

.hero-container {
    background-image: url("vandalur.png");
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    text-align: center;
}

.hero-heading {
    background: #001A6E;
    padding: 10px;
    border-radius: 10px;
}

.hero-text {
    background: #074799;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
}

.middle-section {
    color: #009990;
    padding: 20px 0;
    text-align: center;
    background: #E1FFBB;
}

.features {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.feature {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.feature-image {
    height: 175px;
    width: 175px;
    border-radius: 50%;
}

.feature-text {
    color: 074799;
}

.about-me {
    padding: 100px;
}

.about {
    margin: 0 auto;
    display: flex;
    width: 400px;
    gap: 20px;
    background: #074799;
    padding: 30px;
    border-bottom: 10px solid #001A6E;
    border-radius: 10px;
}

.about-text {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
    text-align: center;
}